@import '../../common/sass/variables';

.logo {
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background-color: $logoColor;
   border-radius: 50%;
   .link{
      width:  100%;
      height: 100%;
      display: block;
      text-decoration: none;
   }
   &:hover{
      background-color: $additionalColor;
   }
}

.container {
   width: 100%;
   height: 100%;
}