.contacts{
  /* border: 1px solid black;*/
   background-color: #111;
   height: 90vh;
}

.information_container {
   width: 100%;
   /*border: 1px solid white;*/

}

.information_container h3{
   font-size: 26px;
   font-weight: 600;
   color: white;
}

.information_container p{
   color: white;
   width: 70%;
   font-size: 15px;
}


.contact_container {
   width: 50%;
   border: 2px solid green;
}

.contact_form{
   border: 1px solid blue;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact_form input{
   width: 20%;
}

.contact_form textarea{
   width: 100%;
}
