@import './../../common/sass/variables';

.title_inner {
    padding-bottom: 22px;
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;

    h3 {
        font-family: $fontText;
        margin: 20px;
        letter-spacing: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 1px;
        left: 50%;
        transform: translate(-50%, 50%);
        bottom: 30%;
        background-color: rgb(47, 47, 47);
    }
}
