.title_inner{
    font-size: 15px;
   /* border: 1px solid #b0eed2;*/
    color: white;
    text-align: center;
    position: relative;
}

.title_inner h3{
    margin: 20px;
    letter-spacing: 3px;
}

.title_inner::before{
    content: '';
    position: absolute;
    /*background-color: #ffb400;*/
    width: 200px;
    height: 1px;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: -50%;
    background-color: rgb(47, 47, 47);
}