@import '../../common/sass/variables';

.titleSection {
    margin: 0 auto;
    width: 100%;
    position: relative;
    /*border: 1px solid white;*/
    text-align: center;

    h1 {
        /* border: 1px solid white;*/
        color: $baseTextColor;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: $fontTitle;
    }

    span {
        color: $additionalColor;
        /*border: 1px solid white;*/
        font-weight: 700;
        letter-spacing: 3px;
    }
}
