@import '../common/sass/variables';

.portfolio {
  /* border: 1px solid brown;*/
  background-color: $primaryColor;
  min-height: 100vh;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  @media screen and (max-width: 1150px) {
    flex-direction: column;
  }
}

