.rectangle{
   height: 50px;
   width: 400px;
}

.skill{
   height: 10px;
   width: 100%;
}

.percent{
   height: 100%;
}

.title{
   height: 40px;
   width: 100%;
   color: white;
   font-size: 18px;
}

@media screen and (max-width: 525px){
   .rectangle{
      width: 250px;
   }
}

@media screen and (max-width: 333px){
   .rectangle{
      width: 180px;
      font-size: 50px;
   }

   .title{
      font-size: 12px;
   }
}