@import '../../common/sass/variables';

.skill_box {
   border: 1px solid blue;
   height: 200px;
   width: 300px;
   background-color: $primaryColor;

   .skill {
      /* border: 1px solid #b0eed2;*/
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-color: $additionalColor;

      .inner {
         height: 120px;
         width: 120px;
         border-radius: 50%;
         /*  border: 1px solid #b0eed2;*/
         background-color: $primaryColor;
         color: $baseTextColor;
         font-size: 30px;
      }
   }

   .title {
      height: 50px;
      width: 100%;
      border: 1px solid $additionalColor;
      color: $baseTextColor;
      font-size: 18px;
   }
}

