@import '../../common/sass/variables';

.button{
    height: 46px;
    background-color: $buttonColor;
    border-radius: 26px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none !important;
    overflow: hidden;
    letter-spacing: 1px;
    border: 0;
    color: $buttonTextColor;
    text-align: center;
    padding: 0 30px 0;
    &:hover{
        background-color: white;
        color: $additionalColor;
    }
    span{
        font-family: $fontTitle;
    }
}