.nav{
   border: 1px solid black;
   height: 30px;
   text-decoration: none;
   width: 450px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   padding: 5px;
}

.link{
   width: 70px;
   height: 25px;
   border-radius: 10%;
   background-color: #2b2a2a;
}