.about {
   /*border: 1px solid white;*/
   min-height: 100vh;
   background-color: #111;
}

.skills{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
   @media screen and (max-width: 1020px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
   }
}

