@import '../common/sass/variables';

.main {
  /*border: 1px solid wheat;*/
  min-height: 90vh;
  background-color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 /* border: 1px solid wheat;*/

  .photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 4px solid $photoBorderColor;
    margin: 10px 0 10px;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .text {
    width: 70%;
    color: $baseTextColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* border: 1px solid green;*/
    span {
      font-family: $fontTitle;
      font-stretch: normal;
      line-height: 1.8;
    }

    div {
      font-size: 30px;
      font-weight: 700;
      font-stretch: normal;
      line-height: 1.2;
    }

    div:nth-child(2) span {
      color: $additionalColor;
    }

    & span:nth-child(3) {
      font-size: 23px;
    }

    @media screen and(max-width: 900px) {
      text-align: center;
    }
  }
}


