.flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_start_double{
    justify-content: flex-end;
    align-items: flex-start;
}

.center_flex_start{
    justify-content: center;
    align-items: flex-start;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_start_center {
    justify-content: flex-start;
    align-items: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_space_between_center {
    justify-content: space-between;
    align-items: center;
}

.flex_space_around_center{
    justify-content: space-around;
    align-items: center;
}

.flex_end_center{
    justify-content: flex-end;
    align-items: center;
}

.flex_start_center{
    display: flex;
    justify-content: start;
    align-items: center;
}